body {
	background-color: #FF508A;
}

#navCadastro {
	background-color: #8000FF;
	box-shadow: 2px 2px 5px grey;
	position: sticky;
}

.voltar {
	outline-style: none;
	background-color: #8000FF;
	border-style: none;
}

.voltar:hover {
	background-color: #8000FF;	
	color: #BFBFBF;
}

.voltar:focus {
	outline: none;
	box-shadow: none;
	background-color: #8000FF;

}

#submitCadastro {
	width: 100px;
	margin-top: 25px;
	background-color: #FF71A0;
	border-color: #D72963;
	box-shadow: 1px 1px 6px grey;
	border-width: 3px;
}

#submitCadastro:hover {
	background-color: #8000FF;
	border-color: #8000FF;
}

#submitCadastro:active {
	border-color: black;
}

#formCadastro {
	margin-top: 30px;
}

#formCadastro label{
	color: white;
	font-size: 18px;
}

#formCadastro input{
	border-color: #8000FF;
	border-width: 3px; 
}

#formCadastro input[type="radio"]{
	margin-left: 10px;
}
