
/*Footer*/

.footer { 
	grid-area: footer
}
.item {
  	width: 100%;
	padding: 10px 0;
	text-align: center;	
	background-color: #4f2f67;
	color: white;
}

/*Body*/

h2{	
	color:#3d3246;
	text-align: center;
}

body{
    position: relative;
    background-color:#ffbad1;
    background-color: #eac2d0;
    margin-top:10px;
    overflow-x: hidden;
}

.bg-dark{
 	background-color: #4f2f67 !important
}

.main {
    padding: 70px 0;
    position: relative;
    margin: 40px;
}
.checkMargin{
	margin-left:10px;
}

.cadast-pend{
	background-color: whitesmoke;
	border: 1px solid #eac2d0;
	border-radius: 8px;
	margin-bottom: 15px;
	padding: 4px;
	box-shadow: 0 0 30px rgb(158 124 148 / 42%);
}

.buttons-classe{
	margin-top: 20px;
	text-align: center;
}

#bt-aprovar{
	background-color: #438643;
	border: 1px solid gray;
	color: white;
}
#bt-aprovar:hover{
	background-color: #326132;
	border: 1px solid gray;
	color: white;
}

#bt-reprovar{
	background-color: #de2d2d;
	border: 1px solid gray;
	color: white
}
#bt-reprovar:hover{
	background-color: #a72222;
	border: 1px solid gray;
	color: white;
}

table{
  width:100%;
  table-layout: fixed;
  border-radius: 40px;
}

/*table*/
table th{
	color:#D5DDE5;
	background:#3d3246;
	border-bottom:4px solid #9ea7af;
	padding: 15px 15px;
	text-align: left;
	font-weight: 500;
	text-transform: uppercase;
}

table td {
	padding: 16px;
	text-align: left;
	vertical-align:middle;
	font-weight: 455;
	color: black;
	border-bottom: solid 1px darkgray;
	background-color: white;
}

tr:hover td {
  background:#705d80;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}

table caption {
    font-size: 1.3em;
}

@media (max-width: 800px) {
	.main {
	    padding: 70px 0;
	    position: relative;
	    margin: 0px;
	}
}
