
.item {
  	width: 100%;
	padding: 10px 0;
	text-align: center;	
	background-color: #4f2f67;
	color: white;
}

/*Body*/

h2{	
	color:#3d3246;
	text-align: center;
}

body{
    position: relative;
    background-color: #deb4c1;
    margin-top:10px;
    overflow-x: hidden;
}

h4{
	font-size: 17px;
}

.bg-dark{
 	background-color: #4f2f67 !important
}

.main {
    position: relative;
    margin: 0px;
    padding: 11px 10px;
}
.checkMargin{
	margin-left:10px;
}

.info-adm{
	background-color: whitesmoke;
	border: 1px solid #d8d8d8;
	border-radius: 2px;
	margin-bottom: 15px;
	padding: 10px;
	box-shadow: 0 0 30px rgb(158 124 148 / 42%);
	margin-top:5px;
}


.cadast-pend{
	background-color: whitesmoke;
	border: 1px solid #d8d8d8;
	border-radius: 8px;
	margin-bottom: 15px;
	padding: 4px;
	box-shadow: 0 0 30px rgb(158 124 148 / 42%);
	margin-top:45px;
}

.pointer{
	cursor: pointer;
}

.buttons-classe{
	margin-top: 20px;
	text-align: center;
}

#bt-aprovar{
	background-color: #438643;
	border: 1px solid gray;
	color: white;
}
#bt-aprovar:hover{
	background-color: #326132;
	border: 1px solid gray;
	color: white;
}

#bt-reprovar{
	background-color: #de2d2d;
	border: 1px solid gray;
	color: white
}
#bt-reprovar:hover{
	background-color: #a72222;
	border: 1px solid gray;
	color: white;
}

#bt-excluir{
	background-color: #de2d2d;
	border: 1px solid gray;
	color: white
}

#bt-excluir:hover{
	background-color: #a72222;
	border: 1px solid gray;
	color: white;
}

table{
  width:100%;
  table-layout: fixed;
  border-radius: 40px;
}

/*table*/
table th{
	color:#D5DDE5;
	background:#3d3246;
	border-bottom:4px solid #9ea7af;
	padding: 15px 15px;
	text-align: left;
	font-weight: 500;
	text-transform: uppercase;
}

table td {
	padding: 16px;
	text-align: left;
	vertical-align:middle;
	font-weight: 455;
	color: black;
	border-bottom: solid 1px darkgray;
	background-color: white;
}

tr:hover td {
  background:#705d80;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}

table caption {
    font-size: 1.3em;
}

@media (max-width: 800px) {
	.main {
	    padding: 70px 0;
	    position: relative;
	    margin: 0px;
	}
}

/*Footer*/
.footer { grid-area: footer}
.item {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: #4f2f67;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

/*jquery mudanças*/
.ui-tabs .ui-tabs-nav li{
	padding:5px !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	border:1px solid #3d2982 !important;
	background:#73538c !important;
	font-weight: bold !important;
}

.ui-widget-header{
	background-color: #e8e2ea !important;
}

#tabs-1{
	background: #f9f3fb !important;
}

#tabs-2{
	background: #f9f3fb !important;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
}
