* {
    box-sizing: border-box;
}

.grid-container {
    background: #ffd6e4;
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr 1fr 1fr 0.4fr;
    grid-template-rows: 0.2fr 1.18fr 1fr 1fr 1fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header header header header"
      "column3 filter-section filter-section filter-section filter-section column4"
      "column3 contractor-grid contractor-grid contractor-grid contractor-grid column4"
      "column3 contractor-grid contractor-grid contractor-grid contractor-grid column4"
      "column3 contractor-grid contractor-grid contractor-grid contractor-grid column4"
      "footer-page footer-page  footer-page  footer-page  footer-page footer-page";
}

.sidenav {
    grid-area: sidenav;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4f2f67;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #bebebe;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.column4 { 
    display: grid;
    gap: 0px 0px;
    grid-area: column4; 
}

.filter-section {
    grid-area: filter-section;
    margin-bottom: 0.5%;
    border-width: 2px;
    border-style: solid;
    margin-top: 20px;
    padding: 25px;
    border-radius: 15px;
    border-color: #4f2f67;
}

.contractor-grid {
    display: grid;
    grid-area: contractor-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5% 0.5%;
    align-content: center;
}

.contractor-item {
    text-align: center;
    background-color: #7a489d;
    border-radius: 0.3rem;
    overflow: hidden;
    min-width: 0;      /* NEW; needed for Firefox */
}

.footer-page {
    display: grid;
    grid-area: footer-page;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: 1%;
    margin-bottom: auto;
    background-color: #4f2f67 !important;
}

.search-bar input[type=text] {
    border-radius: 0.2rem;
    margin-left: 20%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 45%;
    background: #f1f1f1;
}

.search-bar button {
    float: left;
    width: 10%;
    padding: 0.7%;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
    border-radius: 0.2rem;
}

.search-bar button:hover {
    background: #0b7dda;
}

.search-bar::after {
    content: "";
    clear: both;
    display: table;
}

.price-range {
    margin-top: 0.5%;
    margin-left: 20%;
}

.price-filter {
    width: 35%;
    border-radius: 0.2rem;
}

.filter-button {
    border: none;
    margin-top: 0.5%;
    margin-left: 20%;
    background-color: #0072ef !important;
}

.filter-rating {
    margin-top: -0.5%;
    margin-bottom: 0.5%;
}

.filter-text {
    font-size: 35px;
    text-align: center;
    color: #4f2f67;
    margin-top: 3%;
}

.star-rating {
    display: inline-block;
}

.star-rating:not(old){
    display        : inline-block;
    width          : 7.5em;
    height         : 1.5em;
    overflow       : hidden;
    vertical-align : bottom;
}

.star-rating:not(old) > input{
    margin-right : -100%;
    opacity      : 0;
}

.star-rating:not(old) > label{
    display         : block;
    float           : right;
    position        : relative;
    background      : url('../imagens/star-off.svg');
    background-size : contain;
}

.star-rating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('../imagens/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.star-rating:not(old) > label:hover:before,
.star-rating:not(old) > label:hover ~ label:before,
.star-rating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}

.thumbnail {
    transition: all .2s ease-in-out; 
    margin-top: 5%;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.profile-btn {
    outline: none !important;
    border: none;
    background-color: #8750af !important;
}

.profile-btn:hover {
    outline: none !important;
    border: none;
    background-color: #6b408c !important;
}

.cancel-button {
    border: none;
}

.apply-button {
    border: none;
}

.grid-container-sol {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 5px;
  width:100%;
}
.grid-item {
  padding: 10px;
  text-align: left;
}

.card-container{
  margin-top:10px;
  padding: 10px;
}

.grid-calendario {
    background: #ffd6e4;
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.4fr;
    grid-template-rows:   0.10fr 0.05fr 1fr 0.05fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header"
      "column3 title column4"
      "column3 contractor-grid column4"
      "footer-page footer-page footer-page";
}

#calendario {
    display: grid;
    grid-area: contractor-grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-top: auto;
    margin-bottom: 37%;
}

#titulo-grid {
    display: grid;
    grid-area: title;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
}

.navbar {
    background-color: #4f2f67 !important;
}

.btn {
    color: white !important;
}

.btn-reset {
    background-color: #bd588b !important;
}

.btn-salvar {
    background-color: #4f2f67 !important;
}