body {
	background-color: #deb4c1;
}


#navbarH {
	background-color: #4f2f67;
	box-shadow: 2px 2px 5px grey;
}

.buttonH {
	outline-style: none;
	background-color: #4f2f67;
	border-style: none;
}

.buttonH:hover {
	background-color: #4f2f67;	
	color: #BFBFBF;
}

.buttonH:focus {
	outline: none;
	box-shadow: none;
	background-color: #4f2f67;

}

.buttonH:active {
	color: #4f2f67;
	outline-style: none;
}

#contato {
	margin-left: 15px;
	margin-right: 10px;
}


#headerT {
 text-align: center;
 color: white;
 text-shadow: 1px 1px 2px black, 0 0 4px white ;
}

#headerT h1 {
	font-size: 90px;
}

#headerT h2 {
	font-size: 45px;
}

#headerT p {
	font-size: 20px;
	margin-top: 15px;
}

#entrar {
	text-align: center;
	margin-top: 70px;
}

.buttonE {
	color: white;
	border-width: 3px;
	box-shadow: 1px 1px 6px grey;
	background-color: #FF71A0; 
	border-color: #D72963;
}

.buttonE:hover {
	background-color: #4f2f67;
	border-color: #4f2f67;
}

#footerE {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4f2f67	;
  color: white;
  text-align: center;
}

#footer img{
	width: 420px;
}

#cardAdm {
	background-color: #FF71A0;
	width: 290px;
	box-shadow: 1px 1px 6px grey;
	border-color: #D72963;
	margin-left: 2px;
}

#buttonAdm {
	background-color: #FF508A;
	width: 100px;
	margin-left: 60px;
	border-color: #D72963;
	border-width: 3px;
	box-shadow: 1px 1px 6px grey;
}
	
#buttonAdm:hover {
	background-color: #4f2f67;
	border-color: #4f2f67; 
}

#buttonAdm:active {
	background-color: #A042FF;
	border-color: #4B00C3; 
}

#cardAdm label {
	color: white;
	font-size: 17px;
}

#admLogin {
	border-radius: 3px;
}

.modal-content {
	background-color: #4f2f67;
	color: white;
	font-size: 18px;
}

#buttonLogin {
	background-color: #FF71A0;
	width: 100px;
	border-color: #4f2f67;	
	box-shadow: 1px 1px 2px black;
}

#buttonLogin:hover {
	background-color: #FF508A;
	border-color: #FF508A;
}

#buttonLogin:active {
	border-color: black;
}

.modal-content span{
	color: white;
}

