body {
	background-color: #FF508A;
}


#navbarH {
	background-color: #8000FF;
	box-shadow: 2px 2px 5px grey;
}

.buttonH {
	outline-style: none;
	background-color: #8000FF;
	border-style: none;
}

.buttonH:hover {
	background-color: #8000FF;
	color: #BFBFBF;
}

.buttonH:focus {
	outline: none;
	box-shadow: none;
	background-color: #8000FF;

}

.buttonH:active {
	color: #8000FF;
	outline-style: none;
}

#contato {
	margin-left: 15px;
	margin-right: 5px;
}

#headerT {
 text-align: center;
 color: white;
 text-shadow: 1px 1px 2px black, 0 0 4px white ;
}

#headerT h1 {
	font-size: 90px;
}

#headerT h2 {
	font-size: 45px;
}

#headerT p {
	font-size: 20px;
	margin-top: 15px;
}

#entrar {
	text-align: center;
	margin-top: 70px;
}

.buttonE {
	color: white;
	border-width: 3px;
	box-shadow: 1px 1px 6px grey;
	background-color: #FF71A0; 
	border-color: #D72963;
}

#footerE {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #8000FF;
  color: white;
  text-align: center;
}

#footer img{
	width: 420px;
}

#info .card{
	background-color: #8000FF;
	color: white;
	border-color: #D72963;
	box-shadow: 1px 1px 6px grey;

}

#info #cardContato{
	width: 550px;
	margin-left: 300px;
}

#info #cardSobre{
	width: 1040px;
	margin-left: 70px;
}
