<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/telaAgenda.css">
    <link rel="stylesheet" type="text/css" href="./css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="./js/jquery-3.5.1.min.js"></script>
    <script src="./js/jquery-ui.js"></script>
    <script src="./js/agenda.js"></script>
	<title> Empregadíssima | Incluir Agenda </title>
    <meta charset="utf-8"/>

    <!-- navbar inicio -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top dark-bg">
    <a class="navbar-brand" href="#">Empregadíssimas</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        </ul>
    </div>
    </nav>
    <!-- navbar fim-->
</head>
<body class="pink-bg">
    <!-- foto de perfil -->
    <div class="column">
        <div class="img">
            <img src="./imagens/pereira.png"/><br/>
        </div>
        <a href="#" class="btn btn-primary btn-lg btn-block">Minhas Solicitacoes</a><br/>
        <a href="#" class="btn btn-primary btn-lg btn-block">Meu Perfil</a><br/>
        <a href="#" class="btn btn-primary btn-lg btn-block">Minha Agenda</a><br/>
    </div>
   <!-- fim foto perfil -->

   <div class="container">
        <h3>Bootstrap Multi Select Date Picker</h3>
        <input type="text" class="form-control date" placeholder="Pick the multiple dates">
    </div>	

    <!--
    <footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    </footer>
    -->

</body>
</html>