body {
	background-color: #FF508A;
}

#wrapper{
	position: relative;
}

#header {

	text-align: right;
	margin-bottom: 40px;
	margin-top: 0;
	font-size: 15px;
	background-color: white;
	padding-bottom: 10px;
	padding-top: 8px;
	border-style: solid;
	border-color: #8000FF;
	box-shadow: 1px 3px 4px #5C00B8;
	border-top: none;
	border-left: none;
	border-right: none;
}

#header .super {
	background-color: white;
	border: none;
	color: #FF508A;
	outline-style: none;
	font-size: 17px;
}

#header .super:hover {
	color: #9B9A9B

}


#header #sobre {
	margin-right: 20px;
	margin-bottom: 0;
	margin-left: 78%;
}

#header #contato {
	margin-bottom: 0;
}

#header #adm {
	background-color: #FF508A;
	border-color: #FF508A;
	color: white;
	border-radius: 7px;
	font-size: 12px;
	outline-style: none;
}

#header #adm:hover {
	color: black;
}

#containerAdm {
	position: fixed;
	text-align: left;
	padding: 5px;
}

#formsAdm {
	position: relative;
	display: none;
	z-index: 1;
	position: relative;
	background-color: #8000FF;
	padding: 10px;
	box-shadow: 3px 3px 13px gray;
	border-radius: 7px;
}

#formsAdm input[type="password"] {
	border-radius: 5px;
	border-color: #FF508A;
	border-width: 3px;
	border-top-width: 4px;
	outline-style: none;
}

#formsAdm label {
	color: white;

}

#formsAdm input[type="submit"] {
	background-color: #FF508A;
	color: white;
	border-radius: 5px;
}

#title #name h1 {
	font-size: 95px;
	text-shadow: 1.5px 1px 6px white;
	margin-bottom: 15px;	
	color: white;
}

#modal {
	z-index: 1;
	position: fixed;
	right: 150px;
	background-color: white;
	box-shadow: 3px 3px 13px gray;
	border-radius: 7px;
	width: 35%;
}

.close{  
	margin-left: 8px;
	margin-bottom: 3px;
	cursor: pointer;
}

#closeAdm {
	color: black;
	font-size: 20px;
}

#modalSobre {
	display: none;
	position: relative;
	padding: 5px 10px 0px 10px; 
}

#modalContato {
	display: none;
	position: relative;
	padding: 5px 10px 0px 10px;
}
#title #name h2 {
	font-size: 40px;
	text-shadow: 1.5px 1px 4px white;
	color: white;
}

#title {
	text-align: center;
}

#title #name p {
	font-size: 20px;
	color: white;
}

#middle {
	max-width: 500px;
	text-align: center;
	margin: auto;
	margin-top: 80px;
	height: 380px
}

#middle .acesso {
	background-color: #FF508A;
	color: white;
	border: solid 2.5px #8000FF;
	text-align: center;
	border-radius: 7px;
	padding: 7px 30px 7px 30px;
	font-size: 24px
}

#middle .acesso:hover {
	background-color: #8000FF;
	transition-duration: 0.3s; 
}

#middle #cadastro {
	outline-style: none;
}

#middle #login {
	margin-right: 30px;
	outline-style: none;
}

#containerLogin {
	position: relative;
	height: 300px;
}

#formsLogin {
	display: none;
	position: absolute;
	background-color: #8000FF;
	width: 400px;
	height: 200px;
	left: 50px;
	top: 50px;
	padding-top: 50px;
    box-shadow: 4px 4px 13px gray;
    border-radius: 7px;
}

#formsLogin input[type="password"] {
	margin-left: 13px;
	border-radius: 6px;
	border-color: #FF508A;
	border-width: 3px;
}

#formsLogin input[type="text"] {
	border-radius: 6px;
	border-color: #FF508A;
	border-width: 3px;	
}

#formsLogin input[type="submit"] {
	margin-left: 72px;
	padding-right: 25px;
	background-color: #FF508A;
	color: white;
	border-radius: 6px;
}	

#cancelarLogin {
	color: white;
	background-color: #FF508A;
	border-radius: 6px;
	margin-left: 30px;
}

#formsLogin label {
	color: white;
	font-size: 20px;
}



#img {
	width: 430px;
	margin-top: -450px;
	margin-left: 40px;
	height: 461px; 
}

#img img {
	width: 420px;
	height: 461px;
}

#footer {
	margin-bottom: 0px;
	background-color: black;
	text-align: center;
	padding: 5px;
	padding-bottom: 30px;
	font-size: 11px;
	color: white;
	height: 30px;
}

